<a href="https://colab.research.google.com/github/ilovesylus/mathcomputer/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 4

#### Student ID: b132045005


#### Name: 李子玉

### (1) Suppose *spam* contains the list ['a', 'b', 'c', 'd']. What does `spam[int(int('2' * 2) // 11)]` evaluate to?

(A) 'a'   
(B) 'b'   
(C) 'c'   
(D) 'd'

> Ans: C

### (2) Suppose bacon contains the list [2.71, 'Alice', 25, 'Bob', False]. What does bacon.append(200) do to the list value in bacon?

(A) [200, 2.71, 'Alice', 25, 'Bob', False]    
(B) [2.71, 'Alice', 25, 'Bob', False]     
(C) [2.71, 'Alice', 25, 'Bob', False, 200]      
(D) None of the above

> Ans: C

### (3) How would you assign the value 'world' as the third value in a list stored in a variable named devices?

(A) devices[3] <- 'world'    
(B) devices[3] == 'world'         
(C) devices[2] = 'world'          
(D) devices[2] == 'world'

> Ans: C

### (4) What is ()?

(A) dictionary   
(B) tuple   
(C) list   
(D) dataframe

> Ans: B

### (5) What are the operators for list concatenation and list replication?

(A) -, /    
(B) +, **    
(C) +, *   
(D) -, //

> Ans: C

### (6) What are two ways to remove values from a list?

> Ans: remove(value)、pop(index)

### (7) What is the difference between lists and tuples?

> Ans:

List → Mutable, uses [], can add, remove, or change elements, slower.Use a list when you need to modify data.

Tuple → Immutable, uses (), cannot be changed, faster.
 Use a tuple when data should stay the same

### (8) How can you get the tuple form of a list value? How can you get the list form of a tuple value?

> Ans:

Convert a List to a Tuple → Use tuple()

EX.

my_list = [1, 2, 3]

my_tuple = tuple(my_list)  # Converts list to tuple

print(my_tuple)  # Output: (1, 2, 3)


---


Convert a Tuple to a List → Use list()

EX.

my_tuple = (4, 5, 6)

my_list = list(my_tuple)  # Converts tuple to list

print(my_list)  # Output: [4, 5, 6]

### (9) Write a function that takes a list value as an argument and returns a string with all the items separated by a comma and a space, with and inserted before the last item.

**Sample Output:**     
If you enter the list `['Physics', 'biology', 'chemistry']` , you should get `Physics, biology, and chemistry`.

In [14]:
def list_to_string(spam):
    """
    Parameters
    ----------
    spam: list
        The input list.
    Returns
    -------
    string: str
        The output string.
    """
    # Check if the list has only one item
    if len(spam) == 1:
        return spam[0]

    # Check if the list has exactly two items
    elif len(spam) == 2:
        return ' and '.join(spam)

    # For lists with more than two items
    else:
        return ', '.join(spam[:-1]) + ', and ' + spam[-1]
subjects = ['Physics', 'biology', 'chemistry']
result = list_to_string(subjects)
print(result)

Physics, biology, and chemistry

### (10) Say you have a list of lists, `grid`, where each value in the inner lists is a one-character string. Copy the grid value and write code that uses it to print the image.

In [15]:
grid = [['.', '.', '.', '.', '.', '.'],
        ['.', 'O', 'O', '.', '.', '.'],
        ['O', 'O', 'O', 'O', '.', '.'],
        ['O', 'O', 'O', 'O', 'O', '.'],
        ['.', 'O', 'O', 'O', 'O', 'O'],
        ['O', 'O', 'O', 'O', 'O', '.'],
        ['O', 'O', 'O', 'O', '.', '.'],
        ['.', 'O', 'O', '.', '.', '.'],
        ['.', '.', '.', '.', '.', '.']]

**sample output**

---
. . 00 . 00 . .   
. 0000000 .   
. 0000000 .   
. . 00000 . .   
. . . 000 . . .   
. . . . 0 . . . .

---

In [18]:
# coding your answer here
grid = [['.', '.', '.', '.', '.', '.'],
        ['.', 'O', 'O', '.', '.', '.'],
        ['O', 'O', 'O', 'O', '.', '.'],
        ['O', 'O', 'O', 'O', 'O', '.'],
        ['.', 'O', 'O', 'O', 'O', 'O'],
        ['O', 'O', 'O', 'O', 'O', '.'],
        ['O', 'O', 'O', 'O', '.', '.'],
        ['.', 'O', 'O', '.', '.', '.'],
        ['.', '.', '.', '.', '.', '.']]

# Loop through each row in the grid
for row in grid:
    # Print each row as a string by joining the characters
    print(''.join(row))

......
.OO...
OOOO..
OOOOO.
.OOOOO
OOOOO.
OOOO..
.OO...
......